// Pagination styles

.pagination {

  &__button {
    // Block model
    width: 13px;
    height: 19px;
    // Typographyz
    font-size: 0;
    // Stylization
    opacity: 0.3;
    // Animation
    transition: opacity ease-in .3s;

    &--previous {
      // Stylization
      background: url("/static/images/img_icon_pagination_arrow_left.svg") center no-repeat;
      background-size: 13px 19px;
    }

    &--next {
      background: url("/static/images/img_icon_pagination_arrow_right.svg") center no-repeat;
      background-size: 13px 19px;
    }

    &:hover {
      // Stylization
      cursor: pointer;
      opacity: 1;
      // Animation
      transition: opacity ease-in .3s;
    }

    &:active {
      // Stylization
      opacity: 0.5;
    }

  }

  &__list {
    // Position
    display: flex;
  }

  &__item {
    // Block model
    margin: 0 33px;
  }

  &__item-page {
    // Typography
    color: $color_black;
    font-family: $font-optional-1;
    font-weight: 700;
    // Animation
    transition: opacity ease-in 0.3s;

    &:hover {
      // Stylization
      cursor: pointer;
      opacity: 0.5;
      // Animation
      transition: opacity ease-in 0.3s;
    }

    &--active {
      // Typography
      color: $color_brown;
    }

  }

  &__item-span {
    // Typography
    font-size: 0;
  }

}
