<div class="@@class pagination">

  <button class="pagination__button pagination__button--previous" type="button" name="previous">The previous page of toys</button>

  <ul class="pagination__list">
    <li class="pagination__item pagination__item--active">
      <a class="pagination__item-page pagination__item-page--active" href="#"><span class="pagination__item-span">Page</span> 1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__item-page" href="#"><span class="pagination__item-span">Page</span> 2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__item-page" href="#"><span class="pagination__item-span">Page</span> 3</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__item-page" href="#"><span class="pagination__item-span">Page</span> 4</a>
    </li>
  </ul>

  <button class="pagination__button pagination__button--next" type="button" name="next">The next page of toys</button>

</div>
