// Main page
@import "../../components/common.scss";

// Slider
.slider {
  // Self variable
  $s: &;
  // Block model
  padding: 0 0 90px 0;

  &__wrap {
    // Position
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    // Block model
    padding: 0;
    // Stylization
    background: linear-gradient(0deg, $color_wheat 0%, $color_wheat 83%, transparent 83%,transparent 100%);

  }

  &__elements {
    // Position
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    // Block model
    width: 50%;
    padding: 106px 0 0 31px;
    z-index: 1;
    box-sizing: border-box;
  }

  &__number {
    // Position
    display: block;
    // Block model
    width: 100%;
    margin: 0 0 7px 0;
    // Typography
    color: $color_4;
    font-family: $font-optional-1;
    font-size: 60px;
    font-weight: 300;
    // Stylization
    opacity: 0.05;
  }

  &__content {
    // Position
    display: flex;
    flex-flow:row;
  }

  &__nav {
    // Position
    display: flex;
    flex-flow: column;
    // Block model
    margin: 0 71px 0 0;

    &-item {
      // Position
      display: flex;
    }

    &-button {
      // Block model
      width: 31px;
      height: 3px;
      margin: 0 0 11px 0;
      // Typography
      font-size: 0;
      //Stylization
      background: $color_3;
      // Animation
      transition: opacity ease-in .4s, background-color ease-in .4s;

      &--active {
        //Stylization
        opacity: 0.6;
        background: $color_4;
      }

      &:hover {
        // Stylization
        cursor: pointer;
        opacity: 0.6;
        background: $color_4;
        // Animation
        transition: opacity ease-in .4s, background-color ease-in .4s;
      }

      &:active {
        //Stylization
        opacity: 0.6;
        background: $color_4;
      }

      &:focus {
        // Stylization
        outline: solid 1px $color_brown;
      }

    }

  }


  &__collection {
    // Position
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    // Block model
    margin: 0 0 89px 0;
  }

  &__title {
    // Block model
    margin: -10px 0 21px 0;
    // Typography
    font-family: $font-optional-1;
    font-size: 40px;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &__description {
    // Block model
    margin: 0 0 20px 0;
    // Typography
    font-family: $font-optional-2;
    font-size: 20px;
  }

  &__stuff-wrap {
    // Position
    position: absolute;
    right: 99px;
    bottom: 36px;
    display: flex;
    z-index: 0;
  }

  &__information {
    // Position
    display: flex;
    justify-content: center;
    align-items: center;
    // Block model
    width: 100%;
    padding: 12px 0 11px;
    // Stylization
    background-color: $color_brown;
    z-index: 1;

    &-content {
      // Typography
      color: $color_white;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }

  }

}

// Categories
.categories {
  // Block model
  padding: 0 0 90px 0;

  &__title {
    // Block model
    margin: 0 0 30px 0;
    // Typography
    font-family: $font-optional-1;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__list {
    // Position
    display: flex;
    flex-flow: row;
    // Block model
    margin: 0 0 30px 0;

    &-item {
      // Position
      display: flex;
      justify-content: center;
      align-items: center;
      // Block model
      width: 25%;
      height: 270px;
      margin: 0 20px 0 0;
      box-sizing: border-box;

      &:last-child {
        // Block model
        margin: 0;
      }

      &--first {
        // Stylization
        background: $color_meant url("./static/images/img_category_1.png") center no-repeat;
      }

      &--second {
        // Stylization
        background: $color_meant url("./static/images/img_category_2.png") center no-repeat;
      }

      &--third {
        // Stylization
        background: $color_meant url("./static/images/img_category_3.png") center no-repeat;
      }

      &--fourth {
        // Stylization
        background: $color_meant url("./static/images/img_category_4.png") center no-repeat;
      }

    }

    &-link {
      // Typography
      color: $color_white;
      font-family: $font-optional-1;
      font-size: 26px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      text-shadow: rgba(0,0,0,0.15) 2px 3px 5px;

      &:hover {
        // Stylization
        text-decoration: underline;
      }

    }

  }


  &__button {
    // Position
    display: inline;
    // Typography
    font-size: 0;
    // Block model
    width: 37px;
    height: 37px;
    background: $color-blue;
    // Animation
    transition: box-shadow ease-in .4s;

    &:hover {
      // Stylization
      cursor: pointer;
      box-shadow: 2px 3px 5px $color_light-blue;
      // Animation
      transition: box-shadow ease-in .4s;
    }

    &:active {
      // Stylization
      box-shadow: none;
    }

    &-svg {
      // Block model
      width: 100%;

      &:hover > &-path {
        // Stylization
        stroke: $color_brown;
        // Animtation
        transition: stroke ease-in .4s;
      }

      &-path {
        // Stylization
        fill: none;
        stroke: $color_4;
        stroke-width: 4px;
        // Animtation
        transition: stroke ease-in .4s;
      }

    }

  }

  &__nav-information {
    // Position
    display: inline-block;
    vertical-align: top;
    // Block model
    width: 50%;
  }

}

// Benefits
.benefits {
  // Block model
  padding: 0 0 90px 0;

  &__wrap {
    // Position
    display: flex;
    flex-flow: row;
  }

  &__side {
    // Position
    display: flex;
    // Block model
    margin: 0 60px 0 0;
  }

  &__information {
    // Position
    align-self: flex-start;
    // Block model
    padding: 27px 100px 0 0;
  }

  &__title {
    // Block model
    margin: 0 0 6px 0;
    padding: 0 0 0 60px;
    // Typography
    font-family: $font-optional-1;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__list {
    // Position
    display: flex;
    flex-flow: column;
  }

  &__item {
    // Block model
    margin: 0;
    padding: 0;

    &:last-child >&__button {
      // Block model
      margin: 0 0 19px 0;
    }
  }

  &__button {
    // Block model
    width: 326px;
    margin: 0;
    padding: 15px 0 11px 60px;
    box-sizing: border-box;
    // Typography
    font-family: $font-optional-2;
    font-size: 26px;
    text-align: left;
    //Animation
    transition: background-color ease-in .4s, font-weight ease-in .4s;

    &:hover {
      // Typography
      font-weight: 700;
      // Stylization
      cursor: pointer;
      background-color: $color_blue;
      //Animation
      transition: background-color ease-in .4s, font-weight ease-in .4s;
    }

    &--active {
      // Typography
      font-weight: 700;
      // Stylization
      background-color: $color_blue;
    }
  }

  &__description {
    // Block model
    margin: 0 0 16px 0;
    padding: 0 0 0 60px;
    // Typography
    line-height: 22px;

    &:last-of-type {
      // Block model
      margin: 0 0 26px 0;
    }

  }

  &__link {
    // Block model
    margin: 0 0 0 60px;
  }

}

// Partners
.partners {
  // Position
  position: relative;
  // Block model
  padding: 0 0 90px 0;

  &__title {
    // Posisiton
    position: absolute;
    // Block model
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    // Stylization
    overflow:hidden;
  }

  &__list {
    // Position
    display: flex;
  }

  &__item {
    // Position
    display:flex;
    justify-content: center;
    align-items: center;
    // Block model
    width: 25%;

    &:first-child {
      // Position
      justify-content: flex-start;
    }

    &:last-child {
      // Position
      justify-content: flex-end;
    }

  }

}

// About
.about {
  // Block model
  padding: 0 0 57px 0;

  &__wrap {
      // Position
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      // Block model
      width: 1180px;
      margin: 0 auto;

  }

  &__title {
    // Posisiton
    position: absolute;
    // Block model
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    // Stylization
    overflow:hidden;
  }

  &__information {
    // Position
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex-basis: 46%;
    // Block model
    padding: 0 30px 35px 30px;
    margin: 0 57px 0 0;
    box-sizing: border-box;
    // Stylization
    background: linear-gradient(0deg,$color_blue 100px,$color_blue 90%,transparent 90%);

    &-title {
      // Block model
      margin: 0 0 10px 0;
      // Typography
      font-family: $font-optional-1;
      font-size: 38px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-subtitle {
      // Position
      display: inline-block;
      // Block model
      margin: 0 0 10px 0;
      // Typography
      font-family: $font-optional-2;
      font-size: 26px;
      text-transform: capitalize;
    }

    &-description {
      // Typography
      line-height: 22px;
      // Block model
      margin: 0 0 20px 0;
    }

  }


  &__contacts {
    // Position
    display: flex;
    flex-flow: column;
    flex: 0;
    // Block model
    padding: 0 30px;
    margin: 0;
    box-sizing: border-box;
    // Stylization
    background: linear-gradient(0deg,transparent 0%,transparent 40%,$color_blue 40%,$color_blue 93%,transparent 93%,transparent 100px);

    &-title {
      // Block model
      margin: 0 0 20px 0;
      // Typography
      font-family: $font-optional-1;
      font-size: 38px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-description {
      // Typography
      line-height: 22px;
      // Block model
      margin: 0 0 20px 0;
    }

    &-map {
      // Position
      display: flex;
    }

  }

}

// Feedback
.feedback {
  // Setting self variable
  $s: &;
  // Position
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // Block model
  width: 100%;
  height: 100%;
  z-index: 999;
  // Stylization
  opacity: 1;
  background: $color-purple-trns;
  // Animation
  transition: all ease-in .4s;

  &--hidden {
    // Position
    display: none;
    // Stylization
    opacity: 1;
    // Animation
    transition: all ease-in .4s;
  }

  &__wrap {
    // Position
    position: relative;
    //Block model
    width: 680px;

  }

  &__title {
    // Posisiton
    position: absolute;
    // Block model
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    // Stylization
    overflow: hidden;
  }

  &__form {
    // Position
    position: relative;
    display: flex;
    flex-flow: column;
    // Block model
    padding: 40px;
    box-sizing: border-box;
    // Stylization
    border: none;
    background-color: $color-purple-light;
  }

  &__close {
    // Position
    position: absolute;
    top: 0;
    right: -25px;
    // Typography
    font-size: 0;
    // Block model
    width: 16px;
    height: 16px;
    // Stylization
    background: url("/static/images/img_icon_close.svg") center no-repeat;
    // Animtation
    transition: opacity ease-in .4s;

    &:hover {
      // Stylization
      cursor: pointer;
      opacity: 0.5;
      // Animtation
      transition: opacity ease-in .4s;
    }

    &:focus {
      // Stylization
      opacity: 0.3;
    }
  }

  &__field {
    // Block model
    margin: 0;
    padding: 0;
    // Stylization
    border: none;
  }

  &__wrapper {
    // Position
    display: flex;
    flex-flow: column;
    flex: 1;
    // Block model
    margin: 0 0 18px 0;

    &:nth-of-type(3) {
      // Block model
      margin: 0;
    }

    &--half {
      // Position
      display: flex;
      flex-flow: row;
    }

    &--margined {
      // Position
      display: flex;
      flex-flow: —Åolumn;

      &:first-child {
        // Block model
        margin: 0 18px 0 0;
      }

    }

  }

  &__label {
    // Position
    display: block;
    // Block model
    margin: 0 0 5px 0;
    // Typography
    color: $color_black;
    font-size: 14px;
  }

  &__input {
    // Block model
    padding: 15px 0 11px 20px;
    box-sizing: border-box;
    // Typography
    font-size: 14px;
    // Stylization
    box-shadow: none;
    border: solid 1px rgba(0,0,0,0.2);

    &--hidden {
      // Position
      position: absolute;
      left: 0;
      // Block model
      width: 18px;
      height: 18px;
      // Stylization
      opacity: 0;
      z-index: 1;
    }

    &:focus {
      // Stylization
      border: solid 1px rgba(0,0,0,0.3);
      outline: 0;
    }

    &:hover::after {
      // Stylization
      cursor: pointer;
      opacity: 0.5;
      // Animation
      transition: opacity ease-in .4s;
    }

    &:focus + #{$s}__agreement {
      // Stylization
      text-decoration: underline;
    }

    &:checked + #{$s}__agreement::before {
      // Stylization
      background: url("/static/images/img_icon_checked.svg") 5px 2px no-repeat;
    }

    &:focus + #{$s}__agreement::after {
      // Stylization
      opacity: 0.5;
      // Animation
      transition: opacity ease-in .4s;
    }

  }

  &__message {
    // Block model
    width: 100%;
    padding: 14px 0 0 18px;
    margin: 0 0 18px 0;
    box-sizing: border-box;
    // Typography
    font-family: $font-primary;
    font-size: 18px;
    // Stylization
    box-shadow: none;
    border: solid 1px rgba(0,0,0,0.2);

    &:focus {
      // Stylization
      outline: 0;
      border: solid 1px rgba(0,0,0,0.3);
    }
  }

  &__information {
    // Position
    display: inline-block;
    position: relative;
    // Block model
    padding: 0 0 0 32px;
    margin: 0 0 18px 0;
    // Typography
    font-size: 14px;

    &:hover {
      // Stylization
      cursor: pointer;
    }

  }

  &__agreement {

    &:hover {
      // Stylization
      cursor: pointer;
      text-decoration: underline;
    }

    &::before {
      // Position
      content: '';
      position: absolute;
      left: 0;
      // Block model
      width: 22px;
      height: 22px;
      // Stylization
      border-radius: 4px;
      z-index: 1;
      // Animation
      transition: opacity ease-in .4s;
    }

    &::after {
      // Position
      content: '';
      position: absolute;
      left: 0;
      // Block model
      width: 18px;
      height: 18px;
      // Stylization
      opacity: 1;
      border: solid 2px $color_2;
      border-radius: 4px;
      z-index: 1;
    }

  }

}
