// Animation page
@import "../../components/common.scss";

@mixin text($size,$height) {
  // Typography
  font-size: $size;
  line-height: $height;
}

$color_anim_purple: #f4ebff;

$offset-cloud-1: 92px;
$offset-cloud-2: 187px;
$offset-cloud-3: 157px;
$offset-cloud-4: 202px;
$offset-cloud-5: 93px;
$offset-cloud-6: 165px;

@keyframes sun {

  0% {
    // Position
    top: 40%;
    // Stylization
    fill: $color_pink;
  } 100% {
    // Position
    top: 0;
    // Stylization
    fill: $color_anim_purple;
  }

}

@keyframes cloud-1 {

  from {
    // Position
    left: -$offset-cloud-1;
  } 100% {
    // Position
    left: 100%;
  }

}
@keyframes cloud-2 {

  from {
    // Position
    left: -$offset-cloud-2;
  } 100% {
    // Position
    left: 100%;
  }

}
@keyframes cloud-3 {

  from {
    // Position
    left: -$offset-cloud-3;
  } 100% {
    // Position
    left: 100%;
  }

}
@keyframes cloud-4 {

  from {
    // Position
    left: -$offset-cloud-4;
  } 100% {
    // Position
    left: 100%;
  }

}
@keyframes cloud-5 {

  from {
    // Position
    left: -$offset-cloud-5;
  } 100% {
    // Position
    left: 100%;
  }

}
@keyframes cloud-6 {

  from {
    // Position
    left: -$offset-cloud-6;
  } 100% {
    // Position
    left: 100%;
  }

}

@keyframes taxi {
  0% {
    right: -150%;
  } 20%,40% {
    right: 5%;
  } 60%,100% {
    right: 150%;
  }
}

@keyframes taxi-wheel {
  0% {
    transform: rotate(0deg);
  } 20%,40% {
    transform: rotate(#{-360*4}deg);
  } 60%,100% {
    transform: rotate(#{-360*8}deg);
  }
}

@keyframes taxi-message {
  0% {
    transform: translateY(50%);
  } 20%, 80% {
    opacity: 1;
    transform: translateY(0%);
  } 100% {
    opacity: 0;
    transform: translateY(50%);
  }
}

@keyframes hand {
  0% {
    transform: rotate(156deg);
  } 20%,80% {
    transform: rotate(10deg);
  } 100% {
    transform: rotate(156deg);
  }
}

@keyframes woman-message {
  0% {
    opacity: 0;
    transform: translateY(50%);
  } 20%,80% {
    opacity: 1;
    transform: translateY(0%);
  } 100% {
    opacity: 0;
    transform: translateY(50%);
  }
}

@keyframes man-message {
  0% {
    opacity: 0;
    transform: translateY(55%);
  } 20%,80% {
    opacity: 1;
    transform: translateY(0%);
  } 100% {
    opacity: 0;
    transform: translateY(55%);
  }
}

.scene {

  $offset-car-0: 268;
  $offset-car-1: 250;
  $offset-car-2: 205;
  $offset-car-3: 247;

  @keyframes car-0 {
    from {
      left: -$offset-car-1;
    } to {
      left: 100%;
    }
  }

  @keyframes car-1 {
    from {
      left: -$offset-car-2;
    } to {
      left: 100%;
    }
  }

  @keyframes car-2 {
    from {
      left: -$offset-car-3;
    } to {
      left: 100%;
    }
  }

  @keyframes car-3 {
    from {
      left: -$offset-car-3;
    } to {
      left: 100%;
    }
  }

  @keyframes car-wheel {
    from {
      transform: rotate(0);
    } to {
      transform: rotate(360deg);
    }
  }


  &__wrap {
    // Stylization
    overflow: hidden;
  }

  &__title {
    // Block model
    margin: 0 0 15px 0;
    // Typography
    font-family: $font-optional-1;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__nav {
    // Block model
    margin: 0 0 50px 0;
  }

  &__anim {
    // Position
    position: relative;
    // Block model
    height: auto;
    width: 100%;

    &-sun {
      // Position
      position: absolute;
      left: 75%;
      top: 40%;
      // Block model
      width: auto;
      height: 60px;
      z-index: -1;
      // Stylization
      fill: $color_orange;
      border-radius: 50%;
      // Animation
      animation: sun ease-out 10s forwards;

      &-path {
        // Stylization
        fill: inherit;
        stroke: none;
      }

    }

    &-sky {
      // Position
      position: relative;
      // Block model
      width: 100%;
      height: 135px;
      // Stylization
      overflow: hidden;

      &-1 {
        // Position
        position: absolute;
        top: 1%;
        left: -#{$offset-cloud-1};
        // Block model
        width: auto;
        height: 20%;
        // Stylization
        fill: $color_anim_purple;
        // Animation
        animation: cloud-1 30s linear 40s infinite forwards;
      }

      &-2 {
        // Position
        position: absolute;
        bottom: 38%;
        left: -#{$offset-cloud-2};
        // Block model
        width: auto;
        height: 30%;
        // Stylization
        fill: $color_anim_purple;
        // Animation
        animation: cloud-2 45s linear 35s infinite forwards;
      }

      &-3 {
        // Position
        position: absolute;
        top: 0;
        left: -#{$offset-cloud-3};
        // Block model
        width: auto;
        height: 24%;
        // Stylization
        fill: $color_anim_purple;
        // Animation
        animation: cloud-3 40s linear 27s infinite forwards;
      }

      &-4 {
        // Position
        position: absolute;
        bottom: 1%;
        left: -#{$offset-cloud-4};
        // Block model
        width: auto;
        height: 31%;
        // Stylization
        fill: $color_anim_purple;
        // Animation
        animation: cloud-4 47s linear 20s infinite forwards;
      }

      &-5 {
        // Position
        position: absolute;
        bottom: 26%;
        left: -#{$offset-cloud-5};
        // Block model
        width: auto;
        height: 20%;
        // Stylization
        fill: $color_anim_purple;
        // Animation
        animation: cloud-5 37s linear 16s infinite forwards;
      }

      &-6 {
        // Position
        position: absolute;
        bottom: 44%;
        left: -#{$offset-cloud-6};
        // Block model
        width: auto;
        height: 26%;
        // Stylization
        fill: $color_anim_purple;
        // Animation
        animation: cloud-6 40s linear 6s infinite forwards;
      }

    }

    &-city {
      // Position
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      // Block model
      padding: 0 0 1% 0;

      &-img {
        // Block model
        width: 100%;
        margin: 0 0 10px 0;
      }

      &-road {
        // Position
        position: relative;
        // Block model
        width: 100%;
        height: 40px;
        margin: 0 0 40px 0;
        // Stylization
        background-color: $color_anim_purple;
      }

      &-car-0 {
        // Position
        position: absolute;
        bottom: 10%;
        left: -#{$offset-car-0}px;
        // Block model
        width: #{$offset-car-0}px;
        height: #{($offset-car-0*0.48)}px;
        // Animation
        animation: car-0 15s linear 5s infinite;

        &-body {
          // Position
          position: absolute;
          top: 0;
          // Block model
          width: 100%;
          height: auto;
        }

        &-wheel-b {
          // Position
          position: absolute;
          bottom: 0;
          left: 13.45%;
          // Block model
          width: 18.7%;
          height: auto;
          // Animation
          animation: car-wheel 1s linear 1s infinite;
        }

        &-wheel-f {
          // Position
          position: absolute;
          bottom: 0;
          right: 9%;
          // Block model
          width: 18.7%;
          height: auto;
          // Animation
          animation: car-wheel 1s linear 1s infinite;
        }

      }

      &-car-1 {
        // Position
        position: absolute;
        bottom: 20%;
        left: -#{$offset-car-1}px;
        // Block model
        width: #{$offset-car-1}px;
        height: #{($offset-car-1*0.43)}px;
        // Animation
        animation: car-1 10s linear 1s infinite;

        &-body {
          // Position
          position: absolute;
          top: 0;
          // Block model
          width: 100%;
          height: auto;
        }

        &-wheel-b {
          // Position
          position: absolute;
          bottom: 0;
          left: 14%;
          // Block model
          width: 17.9%;
          height: auto;
          // Animation
          animation: car-wheel 1s linear 1s infinite;
        }

        &-wheel-f {
          // Position
          position: absolute;
          bottom: 0;
          right: 9%;
          // Block model
          width: 17.9%;
          height: auto;
          // Animation
          animation: car-wheel 1s linear 1s infinite;
        }

      }

      &-car-2 {
        // Position
        position: absolute;
        bottom: 50%;
        left: -#{$offset-car-2}px;
        // Block model
        width: #{$offset-car-2}px;
        height: #{($offset-car-2*0.48)}px;
        // Animation
        animation: car-2 20s linear 7s infinite;

        &-body {
          // Block model
          width: 100%;
          height: auto;
        }

        &-wheel-b {
          // Position
          position: absolute;
          bottom: 0;
          left: 8%;
          // Block model
          width: 16%;
          height: auto;
          // Animation
          animation: car-wheel .7s linear 1s infinite;
        }

        &-wheel-f {
          // Position
          position: absolute;
          bottom: 0;
          right: 8%;
          // Block model
          width: 16%;
          height: auto;
          // Animation
          animation: car-wheel .7s linear 1s infinite;
        }

      }

      &-car-3 {
        // Position
        position: absolute;
        bottom: 70%;
        left: -#{$offset-car-3}px;
        // Block model
        width: #{$offset-car-3}px;
        height: #{($offset-car-3*0.26)}px;
        // Animation
        animation: car-3 5s linear 10s normal infinite running;

        &-body {
          // Block model
          width: 100%;
          height: auto;
        }

        &-wheel-b {
          // Position
          position: absolute;
          bottom: 4%;
          left: 18%;
          // Block model
          width: 9%;
          height: auto;
          // Animation
          animation: car-wheel 1s linear 1s infinite;
        }

        &-wheel-f {
          // Position
          position: absolute;
          bottom: 4%;
          right: 15%;
          // Block model
          width: 9%;
          height: auto;
          // Animation
          animation: car-wheel 1s linear 1s infinite;
        }

      }

      &-lantern-1 {
        // Position
        position: absolute;
        bottom: 115%;
        left: 35%;
        // Block model
        width: 151px;
      }

      &-lantern-2 {
        // Position
        position: absolute;
        bottom: 115%;
        right: -2%;
        // Block model
        width: 151px;

      }

      &-lantern-3 {
        // Position
        position: absolute;
        bottom: 70%;
        right: 17%;
        // Block model
         width: 215px;
         height: auto;

      }

      &-road-2 {
        // Position
        position: relative;
        // Block model
        width: 100%;
        height: 100px;
        // Stylization
        background-color: $color_anim_purple;

      }

      &-taxi {
        // Position
        position: absolute;
        bottom: 20%;
        right: 0%;
        // Block model
        width: 800px;
        // Animation
        animation: taxi 20s ease 10s 1 both running;

        &-body {
          // Block model
          width: 100%;
        }

        &-wheel-f {
          // Position
          position: absolute;
          bottom: 8%;
          left: 15.3%;
          // Block model
          width: 8%;
          height: auto;
          // Animation
          animation: taxi-wheel 20s ease 10s both running;
        }

        &-wheel-b {
          // Position
          position: absolute;
          bottom: 8%;
          right: 18.7%;
          // Block model
          width: 8%;
          height: auto;
          // Animation
          animation: taxi-wheel 20s ease 10s both running;
        }

        &-message {
          // Position
          position: absolute;
          top: -20%;
          left: 29%;
          // Block model
          width: auto;
          padding: 1% 1% 5% 1%;
          box-sizing: border-box;
          // Stylization
          border-radius: 10px;
          background-color: $color_white;
          opacity: 0;
          // Animation
          transform: translateY(50%);
          animation: taxi-message 4s ease-in 14s both running;
        }

        &-arrow {
          // Position
          position: absolute;
          bottom: -28%;
          right: 5%;
          z-index: 0;
        }

      }

      &-pedestrian-area {
        // Position
        position: relative;
        // Block model
        height: 100px;
      }

      &-asphalt {
        // Position
        position: absolute;
        top: 15%;
        left: 1%;
        right: 1%;
      }

      &-man {
        // Position
        position: absolute;
        bottom: 60%;
        left: 24%;
        // Block model
        width: 210px;
        height: 362px;

        &-container {
          // Position
          position: relative;
          // Block model
          height: 100%;
        }

        &-hand {
          // Position
          position: absolute;
          top: -10%;
          left: 0;
          // Block model
          width: 43%;
          height: auto;
          // Animation
          transform: rotate(156deg);
          transform-origin: 15% 88%;
          animation: hand 6s ease-in 5s 1 both running;

        }

        &-body {
          // Position
          position: absolute;
          bottom: 0;
          left: 0;
          // Block model
          width: 100%;
          height: auto;
        }

        &-message {
          // Position
          position: absolute;
          top: -30%;
          left: -5%;
          // Block model
          width: 160px;
          height: 70px;
          padding: 7%;
          box-sizing: border-box;
          // Stylization
          border-radius: 10px;
          background-color: $color_white;
          // Animation
          animation: man-message 4s ease-in 6s both running;
        }

        &-message-2 {
          // Position
          position: absolute;
          top: -20%;
          left: -5%;
          // Block model
          width: 210px;
          height: 50px;
          padding: 7%;
          box-sizing: border-box;
          // Stylization
          border-radius: 10px;
          background-color: $color_white;
          // Animation
          animation: man-message 4s ease-in 20s both running;
        }

        &-arrow {
          // Position
          position: absolute;
          bottom: -28%;
          left: 15%;
          z-index: 0;
        }

      }

      &-girl {
        // Position
        position: absolute;
        bottom: 60%;
        left: 18%;

        &-body {
          // Block model
          width: 192px;
          height: auto;
        }

        &-message {
          // Position
          position: absolute;
          top: -35%;
          left: -50%;
          // Block model
          width: 169px;
          height: auto;
          padding: 7%;
          box-sizing: border-box;
          // Stylization
          border-radius: 10px;
          background-color: $color_white;
          // Animation
          transform: translateY(50%);
          animation: woman-message 4s ease-in 2s both running;
        }

        &-arrow {
          // Position
          position: absolute;
          bottom: -28%;
          right: 10%;
          z-index: 0;
        }

      }

    }

  }

}

@media (max-width:990px) {

  $offset-car-0-middle: 201;
  $offset-car-1-middle: 188;
  $offset-car-2-middle: 180;
  $offset-car-3-middle: 185;

  @keyframes car-0-middle {
    from {
      left: -$offset-car-0-middle;
    } to {
      left: 100%;
    }
  }

  @keyframes car-1-middle {
    from {
      left: -$offset-car-1-middle;
    } to {
      left: 100%;
    }
  }

  @keyframes car-2-middle {
    from {
      left: -$offset-car-2-middle;
    } to {
      left: 100%;
    }
  }

  @keyframes car-3-middle {
    from {
      left: -$offset-car-3-middle;
    } to {
      left: 100%;
    }
  }


  .scene {

    &__anim {
      // Block model
      height: auto;

      &-sun {
        // Block model
        height: 45px;
      }

      &-sky {
        // Block model
        height: 90px;
      }

      &-city {

        &-car-0 {
          // Block model
          width: #{$offset-car-0-middle}px;
          height: #{($offset-car-0-middle*0.48)}px;
          // Animation
          animation: car-0-middle 15s linear 5s infinite;
        }

        &-car-1 {
          // Block model
          width: #{$offset-car-1-middle}px;
          height: #{($offset-car-1-middle*0.43)}px;
          // Animation
          animation: car-1-middle 10s linear 1s infinite;
        }

        &-car-2 {
          // Block model
          width: #{$offset-car-2-middle}px;
          height: #{($offset-car-2-middle*0.48)}px;
          // Animation
          animation: car-2-middle 20s linear 7s infinite;
        }

        &-car-3 {
          // Block model
          width: #{$offset-car-3-middle}px;
          height: #{($offset-car-3-middle*0.26)}px;
          // Animation
          animation: car-3-middle 5s linear 10s normal infinite running;
        }

        &-road-2 {
          // Block model
          height: 70px;
        }

        &-lantern-1 {
          // Block model
          width: 130px;
        }

        &-lantern-2 {
          // Block model
          width: 130px;
        }

        &-taxi {
          // Block model
          width: 650px;

          &-message {
            // Position
            left: 22%;
          }

        }

        &-man {
          // Position
          left: 25%;
          bottom: 63%;
          // Block model
          width: 140px;
          height: 240px;

          &-hand {
            // Position
            top: -11%;
          }

          &-message {
            // Position
            left: -20%;
          }

          &-message-2 {
            // Position
            left: -20%;
          }

        }

        &-girl {
          // Position
          left: 15%;
          bottom: 60%;
          // Block model
          width: 120px;

          &-body {
            // Block model
            width: 100%;
          }

          &-message {
            // Position
            left: -95%;
          }

        }

        &-pedestrian-area {
          // Block model
          height: 70px;
        }

        &-lantern-3 {
          // Posisiton
          bottom: 65%;
          right: 10%;
          // Block model
          width: 190px;
        }

      }

    }

  }

}

@media (max-width:768px) {

  $offset-car-0-small: 134;
  $offset-car-1-small: 125;
  $offset-car-2-small: 120;
  $offset-car-3-small: 123;

  @keyframes car-0-small {
    from {
      left: -$offset-car-0-small;
    } to {
      left: 100%;
    }
  }

  @keyframes car-1-small {
    from {
      left: -$offset-car-1-small;
    } to {
      left: 100%;
    }
  }

  @keyframes car-2-small {
    from {
      left: -$offset-car-2-small;
    } to {
      left: 100%;
    }
  }

  @keyframes car-3-small {
    from {
      left: -$offset-car-3-small;
    } to {
      left: 100%;
    }
  }


  .scene {

    &__title {
      @include text(36px,44px);
      // Block model
      margin: 0 0 10px 0;
    }

    &__anim {

      &-city {

        &-car-0 {
          // Block model
          width: #{$offset-car-0-small}px;
          height: #{($offset-car-0-small*0.48)}px;
          // Animation
          animation: car-0-small 15s linear 5s infinite;
        }

        &-car-1 {
          // Block model
          width: #{$offset-car-1-small}px;
          height: #{($offset-car-1-small*0.43)}px;
          // Animation
          animation: car-1-small 10s linear 1s infinite;
        }

        &-car-2 {
          // Block model
          width: #{$offset-car-2-small}px;
          height: #{($offset-car-2-small*0.48)}px;
          // Animation
          animation: car-2-small 20s linear 7s infinite;
        }

        &-car-3 {
          // Block model
          width: #{$offset-car-3-small}px;
          height: #{($offset-car-3-small*0.26)}px;
          // Animation
          animation: car-3-small 5s linear 10s normal infinite running;
        }

      }

    }

  }

}

@media (max-width:580px) {

  .scene {

    &__nav {
      // Block model
      margin: 0;
    }

    &__container {
      // Block model
      padding: 0 20px;
    }

    &__anim {

      &-sun {
        // Block model
        height: 30px;
      }

      &-sky {
        // Block model
        height: 50px;
      }

      &-city {

        &-road-2 {
          // Block model
          height: 40px;
        }

        &-lantern-1 {
          // Block model
          width: 50px;
        }

        &-lantern-2 {
          // Block model
          width: 50px;
        }

        &-lantern-3 {
          // Block model
          width: 80px;
        }

        &-taxi {
          // Block model
          width: 300px;

          &-message {
            // Position
            left: 1%;
            // Typography
            font-size: 14px;
          }

        }

        &-man {
          // Position
          left: 27%;
          bottom: 55%;
          // Block model
          width: 70px;
          height: 122px;

          &-message {
            // Position
            left: -50%;
            // Block model
            height: 30px;
            // Typography
            font-size: 14px;
          }

          &-message-2 {
            // Position
            left: -60%;
            // Block model
            height: 30px;
            // Typography
            font-size: 14px;
          }

        }

        &-girl {
          // Block model
          width: 66px;
          height: 92px;

          &-message {
            // Position
            // top: 0;
            left: -38%;
            // Block model
            width: 200px;
            // height: 30px;
            // Typography
            font-size: 14px;
          }

          &-arrow {
            // Position
            left: 10%;
            top: 75%;
          }

        }

      }

    }


  }

}

@media (max-width:480px) {

  .scene {

    &__title {
      @include text(24px,29px);
    }

  }

}
