// Contacts
@import "../../components/common.scss";

@mixin text($size,$height) {
  // Typography
  font-size: $size;
  line-height: $height;
}

.contacts {
  // Self variable
  $s: &;

  &__wrap {

  }

  &__title {
    // Block model
    margin: 0 0 15px 0;
    // Typography
    font-family: $font-optional-1;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__nav {
    // Block model
    margin: 0 0 50px 0;
  }

  &__feedback {
    // Position
    display: flex;
    // Block model
    margin: 0 0 60px 0;

    &-title {
      // Position
      display: none;
    }

    &-form {
      // Position
      display: flex;
      flex-flow: column;
      // Block model
      width: 680px;
      padding: 40px;
      margin: 0 120px 0 0;
      box-sizing: border-box;
      // Stylization
      border: none;
      background-color: $color_light-blue;
    }

    &-field {
      // Stylization
      border: none;
      padding: 0;
    }

    &-wrapper {
      // Position
      display: flex;
      flex-flow: column;
      flex: 1;
      // Block model
      margin: 0 0 18px 0;

      &--half {
        // Position
        display: flex;
        flex-flow: row;
      }

      &--margined {
        &:first-child {
          // Block model
          margin: 0 18px 0 0;
        }
      }

    }

    &-label {
      // Position
      display: block;
      // Block model
      margin: 0 0 3px 0;
      // Typography
      color: $color_black;
      font-size: 14px;
    }

    &-input {
      // Block model
      width: 100%;
      padding: 14px 0 11px 20px;
      box-sizing: border-box;
      // Typography
      font-size: 18px;
      // Stylization
      box-shadow: none;
      border: solid 1px rgba(0,0,0,0.2);

      &--hidden {
        // Position
        position: absolute;
        left: 0;
        // Block model
        width: 18px;
        height: 18px;
        // Stylization
        opacity: 0;
        z-index: 1;
      }

      &:focus {
        // Stylization
        border: solid 1px rgba(0,0,0,0.3);
        outline: 0;
      }

      &:checked + #{$s}__feedback-agreement {
        // Stylization
        text-decoration: underline;
      }

      &:checked + #{$s}__feedback-agreement::before {
        // Stylization
        background: url("/static/images/img_icon_checked.svg") 5px 2px no-repeat;
      }

      &:focus + #{$s}__feedback-agreement::after {
        // Stylization
        opacity: 0.5;
        // Animation
        transition: opacity ease-in .4s;
      }

    }

    &-textarea {
      // Block model
      width: 100%;
      padding: 14px 0 0 18px;
      margin: 0 0 18px 0;
      box-sizing: border-box;
      // Typography
      font-family: $font-primary;
      font-size: 18px;
      // Stylization
      box-shadow: none;
      border: solid 1px rgba(0,0,0,0.2);

      &:focus   {
        // Stylization
        outline: 0;
        border: solid 1px rgba(0,0,0,0.3);
      }

    }

    &-information {
      // Position
      display: inline-block;
      position: relative;
      // Block model
      padding: 0 0 0 32px;
      margin: 0 0 18px 0;
      // Typography
      font-size: 14px;
    }

    &-agreement {

      &:hover {
        // Stylization
        cursor: pointer;
        text-decoration: underline;
      }

      &::before {
        // Position
        content: '';
        position: absolute;
        left: 0;
        // Block model
        width: 22px;
        height: 22px;
        // Stylization
        border-radius: 4px;
        z-index: 1;
        // Animation
        transition: opacity ease-in .4s;
      }

      &::after {
        // Position
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        // Block model
        width: 18px;
        height: 18px;
        // Stylization
        opacity: 1;
        border: solid 2px $color_2;
        border-radius: 4px;
        z-index: 1;
      }

      &:hover::after {
        // Stylization
        cursor: pointer;
        opacity: 0.5;
        // Animation
        transition: opacity ease-in .4s;
      }

    }

  }

  &__information {
    // Block model
    margin: 0 0 18px 0;

    &--highlighted {
      // Typography
      color: $color_2;
      font-family: $font-optional-1;
      font-size: 26px;
      font-weight: 600;
      line-height: 34px;
      text-transform: uppercase;
    }

    &-wrap {
      // Position
      display: flex;
      flex-flow: column;
      flex: 1;
    }


  }

}

@media (max-width:1280px) {

  .contacts {

    &__feedback {

      &-form {
        // Block model
        margin: 0 40px 0 0;
      }

    }

  }


}

@media (max-width:1140px) {

  .contacts {

    &__nav {
      // Block model
      margin: 0 0 30px 0;
    }

    &__feedback {
      // Position
      flex-flow: column-reverse;

      &-form {
        // Block model
        width: 680px;
        margin-right: 0;
        padding: 42px 56px;
      }

      &-information {
        // Position
        display: block;
      }

    }

    &__information {

      &-wrap {
        // Block model
        margin: 0 0 45px 0;
        // Typography
        text-align: left;
      }

    }

  }


}

@media (max-width:800px) {

  .contacts {

    &__feedback {

      &-form {
        // Block model
        width: auto;
      }

    }

  }

}

@media (max-width:768px) {

  .contacts {

    &__title {
      @include text(36px,44px);
      // Block model
      margin: 0 0 10px 0;
    }

    &__nav {
      // Block model
      margin: 0 0 30px 0;
    }

    &__feedback {

      &-field {
        // Block model
        width: 100%;
      }

    }

    &__information {
      // Typography
      font-size: 14px;
      line-height: 19px;

      &--highlighted {
        // Typography
        font-size: 24px;
        line-height: 34px;
      }

    }

  }

}

@media (max-width:580px) {

  .contacts {

    &__wrap {
      // Block model
      padding: 0 20px;
    }

    &__title {
      @include text(24px,29px);
      // Block model
      margin: 0 0 10px 0;
    }

    &__nav {
      // Block model
      margin: 0 0 25px 0;
    }

    &__feedback {

      &-form {
        // Block model
        padding: 25px;
      }

      &-wrapper {

        &--half {
          // Position
          flex-flow: column;
        }

        &--margined {

          &:first-child {
            margin: 0 0 20px 0;
          }

        }

      }

    }

    &__information {

      &-wrap {
        // Block model
        margin: 0 0 25px 0;
      }

    }

  }

}
