// Category
@import "../../components/common.scss";

@mixin text($size,$height) {
  // Typography
  font-size: $size;
  line-height: $height;
}

.category {
  // Self variable
  $s: &;

  &__wrap {

    &--wide {
      // Block model
      margin: 0 0 60px 0;
      padding: 42px 0;
      // Stylization
      background-color: $color-light-blue;
    }

  }

  &__title {
    // Block model
    margin: 0 0 15px 0;
    // Typography
    font-family: $font-optional-1;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__nav {
    // Block model
    margin: 0 0 50px 0;
  }

  // Filter
  &__form {
    // Position
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    &-field {
      // Block model
      padding: 0;
      // Stylization
      border: none;

      &--first {
        //Block model
        margin: 0 108px 0 0;
      }

      &--second {
        //Block model
        margin: 0 130px 0 0;
      }

      &--third {
        // Block model
        margin: 0 69px 0 0;
      }

      &--fourth {
        // Block model
        margin: 0 60px 0 0;
      }


    }

    &-cost {
      // Block model
      width: 188px;
      margin: 0 0 6px 0;

      &:hover {
        //Stylization
        cursor: pointer;
      }

    }

    &-cost-wrap {
      // Position
      display: flex;
    }

    &-min {
      // Position
      display: inline-block;
      // Block model
      width: 50%;
      box-sizing: border-box;
    }

    &-max {
      // Position
      display: inline-block;
      // Typography
      text-align: right;
      // Block model
      width: 48%;
      box-sizing: border-box;
    }

    &-legend {
      // Block model
      margin: 0 0 15px 0;
      // Typography
      font-weight: 700;
    }

    &-input {

      &--hidden {
        // Position
        position: absolute;
        // Block model
        z-index: 999;
      }

      // Color
      &--color {
        // Position
        top: 2px;
        width: 15px;
        height: 15px;
        // Stylization
        opacity: 0;
        border: none;
        // Animation
        transition: opacity ease-in .4s;

        &:hover {
          // Stylization
          cursor: pointer;
          // Animation
          transition: opacity ease-in .4s;
        }

        &:checked + #{$s}__form-label--color {
          //Stylization
          text-decoration: underline;

        }

        &:checked + #{$s}__form-label--color::before {
          // Stylization
          background: url("/static/images/img_icon_checked.svg") 5px 2px no-repeat;
          // Animation
          transition: opacity ease-in .4s;
        }

        &:focus + #{$s}__form-label--color::after   {
          // Stylization
          opacity: 0.5;
          // Animation
          transition: opacity ease-in .4s;
        }

        &:focus + #{$s}__form-label--color   {
          // Typography
          text-decoration: underline;
          // Stylization
          opacity: 0.5;
          // Animation
          transition: opacity ease-in .4s;
        }

      }

      // Delivery
      &--delivery {
        // Position
        position: absolute;
        top: 0;
        // Block model
        width: 22px;
        height: 22px;
        margin: 0;
        padding: 0;
        // Stylization
        opacity: 0;

      }

      &:hover {
        // Stylization
        cursor: pointer;
        background-color: red;
      }

      &:checked + #{$s}__form-label--delivery {
        // Stylization
        text-decoration: underline;
      }

      &:checked + #{$s}__form-label--delivery::before {
        // Stylization
        background-color: $color_2;
      }

      &:focus + #{$s}__form-label--delivery::after {
        // Stylization
        opacity: 0.5;
      }

      // Amount
      &--amount {

        & {
          // Block model
          width: 100%;
          height: 100%;
          margin: 0;
          // Typography
          font-size: 16px;
          font-family: $font-primary;
          text-align: center;
          // Stylization
          opacity: 0;
          border: none;
          // Animation
          transition: opacity ease-in .4s,
                      background-color ease-in .4s;
        }

        &:checked + #{$s}__form-label--amount {
          // Stylization
          background-color: $color_pink;
          // Animation
          transition: opacity ease-in .4s,
                      background-color ease-in .4s;

        }

        &:focus + #{$s}__form-label--amount {
          // Stylization
          opacity: 0.5;
          // Animation
          transition: opacity ease-in .4s,
                      background-color ease-in .4s;

        }

        &:hover {
            // Stylization
            cursor: pointer;
            background-color: $color_pink;
            // Animation
            transition: opacity ease-in .4s,
                        background-color ease-in .4s;

        }

        &:hover + #{$s}__form-label--amount {
          // Stylization
          cursor: pointer;
          opacity: 0.5;
          background-color: $color_pink;
          // Animation
          transition: opacity ease-in .4s,
                      background-color ease-in .4s;

        }

      }

    }

    &-color-item {
      // Position
      position: relative;
      // Block model
      margin: 0 0 18px 0;
    }

    &-label {

      &--color {
        // Position
        position: relative;
        // Block model
        padding: 0 0 0 30px;

        &:hover {
          // Stylization
          cursor: pointer;
          text-decoration: underline;
        }

        &::before {
          // Position
          content: '';
          position: absolute;
          top: 0;
          display: block;
          // Block model
          width: 19px;
          height: 19px;
          z-index: 1;
          // Stylization
          outline: 0;
          cursor: pointer;
        }

        &::after {
          // Position
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          // Block model
          width: 17px;
          height: 17px;
          // Stylization
          border: solid 2px $color_2;
          border-radius: 4px;
        }

      }

      &--delivery {
        // Position
        position: relative;
        // Block model
        padding: 0 0 0 30px;

        &:hover {
          // Stylization
          cursor: pointer;
          text-decoration: underline;
        }

        &::before {
          // Position
          content: '';
          position: absolute;
          top: 4px;
          left: 4px;
          display: block;
          // Block model
          width: 12px;
          height: 12px;
          z-index: 1;
          // Stylization
          border-radius: 50%;
        }

        &::after {
          // Position
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          // Block model
          width: 16px;
          height: 16px;
          // Stylization
          border: solid 2px $color_2;
          border-radius: 50%;
        }


      }

      &--amount {
        // Position
        display: flex;
        justify-content: center;
        align-items: center;
        // Block model
        padding: 7px 0 6px 0;
        // Stylization
        background-color: $color_white;
        // Animation
        transition: opacity ease-in .4s,
                    background-color ease-in .4s;
      }

    }

    &-delivery-item {
      // Position
      position: relative;
      // Block model
      margin: 0 0 12px 0;
    }

    &-amount {
      // Position
      display: flex;
      flex-flow: row nowrap;
    }

    &-amount-item {
      // Position
      position: relative;
      // Block model
      width: 80px;
    }

    &-submit {
      margin: 37px 0 0 0;
    }

  }


  // Items list
  &__list {
    // Position
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    // Position
    position: relative;
    // Block model
    width: 30%;
    margin: 0 20px 20px 0;
    box-sizing: border-box;

    &:nth-child(3) {
      // Block model
      margin: 0 0 20px 0;
    }

  }

  &__link {
    // Position
    position: relative;
    display: flex;
    flex-flow:column;
    justify-content: center;
    // Typography
    color: $color_black;
  }

  &__more {
    // Position
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 89px;
    left: 25%;
    right: 25%;
    // Block model
    width: 207px;
    padding: 82px 0 96px;
    // Typography
    color: $color_black;
    font-family: $font-optional-1;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    // Stylization
    opacity: 0;
    background: rgba(229,234,248,0.9);
    //Animation
    transition: opacity ease-in .4s;

    &:hover {
      // Stylization
      opacity: 1;
      //Animation
      transition: opacity ease-in .4s;
    }

    &:active {
      // Stylization
      opacity: 1;
      background: rgba(229,234,248,0.67);
    }


  }

  &__name {
    // Block model
    margin: 0 0 15px 0;
    // Typography
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
  }

  &__price {
    // Block model
    margin: 0 0 25px 0;
    // Typography
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__pagination {
    // Position
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
    // Block model
    margin: 0 0 60px 0;
  }

}

@media (max-width:1140px) {

  .category {

    &__form {

      &-field {

        &--third {
          // Block model
          margin-right: 0;
        }

      }

    }

    &__item {
      // Block model
      width: 31%;

      &:nth-child(3n) {
        // Block model
        margin-right: 0;
      }

      &:last-of-type {
        // Block model
        // margin-right: 0;
      }

    }

    &__figure {
      // Position
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__image {
      // Block model
      width: 100%;
      height: auto;
    }

    &__more {
      // Position
      top: auto;
      left: auto;
      right: auto;
      // Block model
      padding: 82px 20px 96px 20px;
      box-sizing: border-box;
      // Typography
      font-size: 18px;
    }

  }

}

@media (max-width:768px) {

  .category {

    &__title {
      @include text(36px,44px);
      // Block model
      margin: 0 0 10px 0;
    }

    &__nav {
      // Block model
      margin: 0 0 30px 0;
    }

    &__form {

      &-field {

        &--first {
          // Block model
          width: 100%;
          margin: 0 0 50px 0;
        }

        &--second {
          // Block model
          margin: 0 65px 25px 0;
        }

        &--third {
          // Block model
          width: 50%;
        }

      }

      &-cost {
        // Block model
        width: 50%;
      }

      &-min {
        // Block model
        width: auto;
      }

    }

    &__item {
      // Block model
      width: 29%;

    }

  }

}

@media (max-width:580px) {

  .category {

    &__wrap {
      // Block model
      padding: 25px 20px;

    }

  }

}

@media (max-width:520px) {

  .category {

    &__wrap {
      // Block model
      padding: 0 20px;
    }

    &__form {

      &-field {

        &--fourth {
          // Block model
          width: 100%;
          margin: 0 0 25px 0;
        }

      }

      &-submit {
        // Block model
        margin: 0 auto;
      }

    }

  }

}

@media (max-width:480px) {

  .category {

    &__title {
      @include text(24px,29px);
      // Block model
      margin: 0 0 10px 0;
    }

    &__nav {
      // Block model
      margin: 0 0 20px 0;

    }

    &__form {

      &-field {

        &--third {
          // Block model
          width: auto;
        }

      }

    }

    &__item {
      // Block model
      width: 45%;

      &:nth-child(2n) {
        // Block model
        margin-right: 0;
      }

      &:nth-child(3n) {
        // Block model
        margin-right: 20px;
      }

      &:last-of-type {
        // Block model
        margin-right: 0;
      }

    }

    &__price {
      // Typography
      font-size: 12px;
    }

  }


}

@media (max-width:375px) {

  .category {

    &__form {
      // Typography
      @include text(14px,19px);

    }

  }

}

@media (max-width:360px) {

  .category {

    &__form {
      // Typography
      @include text(14px,19px);

      &-cost {
        // Block model
        width: 75%;
      }

      &-max {
        // Block model
        width: 75%;
      }

    }

    &__item {
      // Block model
      width: auto;

      &:nth-child(2n) {
        // Block model
        margin-right: 0;
      }

      &:nth-child(3n) {
        // Block model
        margin-right: 0;
      }

      &:last-of-type {
        // Block model
        margin-bottom: 0;
      }

    }

  }

}
