// Blog page styles
@import "../../components/common.scss";

.blog {
    // Self variable
    $s: &;

    &__wrap {

    }

    &__title {
      // Block model
      margin: 0 0 15px 0;
      // Typography
      font-family: $font-optional-1;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__nav {
      // Block model
      margin: 0 0 50px 0;
    }

    &__list {
      // Position
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      // Block model
      margin: 0 0 50px 0;
    }

    &__item {
      // Position
      flex: 1;
      // Block model
      margin: 0 20px 40px 0;
      // Block model
      box-sizing: border-box;

      &:nth-child(3n) {
        // Block model
        margin: 0 0 40px 0;
      }

    }

    &__figure {
      // Block model
      margin: 0 0 20px 0;
      box-sizing: border-box;
      // Stylization
      overflow: hidden;
    }

    &__image {
      // Block model
      height: 100%;
    }

    &__date {
      // Position
      display: inline-block;
      // Block model
      margin: 0 0 7px 0;
      // Typography
      color: $color_dark-grey-2;
    }

    &__link {
      // Typography
      color: $color_black;
      font-size: 24px;
      font-family: $font-optional-1;
      line-height: 31px;

      &:hover {
        // Typography
        text-decoration: underline;
      }

      &-wrap {
        // Block model
        margin: 0 0 15px 0;
      }

    }

    &__description {
      // Typography
      font-size: 18px;
      line-height: 24px;
    }

    &__pagination {
      // Position
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      // Block model
      margin: 0 0 60px 0;
    }

  }
