// Blog page styles
@import "../../components/common.scss";

@mixin text($size,$height) {
  // Typography
  font-size: $size;
  line-height: $height;
}

.blog {

    &__title {
      // Block model
      margin: 0 0 15px 0;
      // Typography
      font-family: $font-optional-1;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__nav {
      // Block model
      margin: 0 0 50px 0;
    }

    &__list {
      // Position
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      // Block model
      margin: 0 0 50px 0;
    }

    &__item {
      // Position
      flex: 0 1 32%;
      // Block model
      width: 32%;
      margin: 0 20px 40px 0;
      // Block model
      box-sizing: border-box;

      &:nth-child(3n) {
        // Block model
        margin: 0 0 40px 0;
      }

    }

    &__figure {
      // Block model
      margin: 0 0 20px 0;
      box-sizing: border-box;
      // Stylization
      overflow: hidden;
    }

    &__image {
      // Block model
      height: 100%;
    }

    &__date {
      // Position
      display: inline-block;
      // Block model
      margin: 0 0 7px 0;
      // Typography
      color: $color_dark-grey-2;
    }

    &__link {
      // Typography
      color: $color_black;
      font-size: 24px;
      font-family: $font-optional-1;
      line-height: 31px;

      &:hover {
        // Typography
        text-decoration: underline;
      }

      &-wrap {
        // Block model
        margin: 0 0 15px 0;
      }

    }

    &__description {
      // Typography
      font-size: 18px;
      line-height: 24px;
    }

    &__pagination {
      // Position
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: end;
      // Block model
      margin: 0 0 60px 0;
    }

  }

@media (max-width:1140px) {

  .blog {

    &__item {
      // Position
      flex: 1 0 45%;
      // Block model
      width: auto;

      &:nth-child(2n) {
        // Block model
        margin-right: 0;
      }

      &:nth-child(3n) {
        // Block model
        margin-right: 20px;
      }

      &:nth-child(n+5) {
        // Block model
        margin-bottom: 20px;
      }

      &:last-of-type {
        margin-right: 0;
      }

    }

    &__image {
      // Block model
      width: 100%;
      height: auto;
    }

  }

}

@media (max-width:768px) {

  .blog {

    &__title {
      @include text(36px,44px);
    }

    &__nav {
      // Block model
      margin: 0 0 30px 0;
    }

  }

}

@media (max-width:580px) {

  .blog {

    &__title {
      @include text(24px,29px);
      // Block model
      margin: 0 0 10px 0;
    }

    &__nav {
      // Block model
      margin: 0 0 20px 0;
    }

    &__wrap {
      // Block model
      padding: 0 20px;
    }

    &__item {
      // Position
      flex: auto;
      // Block model
      width: auto;

      &:nth-child(1n) {
        margin: 0 0 25px 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

    }

    &__link {
      @include text(18px,22px);
    }

    &__description {
      @include text(16px,22px);
    }

  }

}
