// Catalog page styles
@import "../../components/common.scss";

@mixin title($size,$height) {
  // Typography
  font-size: $size;
  line-height: $height;
}

.catalog {
  // Block model
  padding: 0 0 55px 0;

  &__title {
    // Block model
    margin: 0 0 15px 0;
    // Typography
    font-family: $font-optional-1;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__nav  {
    // Block model
    margin: 0 0 50px 0;
  }

  &__list {
    // Position
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    // Position
    display: flex;
    justify-content: center;
    align-items: center;
    // Block model
    width: 280px;
    height: 270px;
    margin: 0 20px 20px 0;
    box-sizing: border-box;

    &--first {
      // Stylization
      background: $color_meant url("/static/images/img_category_1.png") center no-repeat;
    }

    &--second {
      // Stylization
      background: $color_wheat url("/static/images/img_category_2.png") center no-repeat;
    }

    &--third {
      // Stylization
      background: $color_orange url("/static/images/img_category_3.png") center no-repeat;
    }

    &--fourth {
      // Block model
      margin: 0 20px 0 200px;
      // Stylization
      background: $color_purple url("/static/images/img_category_4.png") center no-repeat;
    }

    &--fifth {
      // Block model
      margin: 0 20px 0 0;
      // Stylization
      background: $color_pink url("/static/images/img_category_5.png") center no-repeat;
    }

    &--sixth {
      // Block model
      margin: 0 20px 0 0;
      // Stylization
      background: $color_light-blue url("/static/images/img_category_6.png") center no-repeat;
    }

  }

  &__link {
    // Typography
    color: $color_white;
    font-family: $font-optional-1;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: rgba(0,0,0,0.15) 2px 3px 5px;

    &:hover {
      // Typography
      text-decoration: underline;
    }

    &:active {
      // Typography
      text-decoration: underline;
    }

  }

}

.description {
  // Block model
  margin: 0 0 55px 0;

  &__wrap {
    // Block model
    padding: 0 300px 0 200px;
    box-sizing: border-box;
  }

  &__title {
    // Block model
    margin: 0 0 25px 0;
    // Typography
    font-family: $font-optional-1;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    // Block model
    margin: 0 0 15px 0;
    // Typography
    line-height: 26px;
  }

}

@media (max-width:1170px) {

  .catalog {

    &__item {
      // Position
      flex: 1 auto;
      // Block model
      width: 25%;
      padding: 0 20px;
      // Stylization
      background-size: 75%;

      &:nth-child(3n) {
        // Block model
        margin-right: 0;
      }

      &--fourth {
        margin-left: 0;
      }

    }

  }

  .description {

    &__wrap {
      // Block model
      padding: 0 60px;
    }

  }

}

@media (max-width:768px) {

  .catalog {
    // Block model
    padding: 0 0 40px 0;

    &__title {
      @include title(36px,44px);
      // Block model
      margin: 0 0 10px 0;
    }

    &__nav {
      // Block model
      margin: 0 0 30px 0;
    }

    &__item {
      // Position
      flex: 1 auto;
      // Block model
      width: 25%;
      height: 200px;
      padding: 0 20px;
      // Stylization
      background-size: 75%;

      &:nth-child(3n) {
        // Block model
        margin-right: 0;
      }

      &--fourth {
        margin-left: 0;
      }

    }

    &__link {
      // Typography
      font-size: 18px;
    }

  }

  .description {

    &__title {
      @include title(36px,44px);
      // Block model
      margin: 0 0 20px 0;
    }

  }

}

@media (max-width:580px) {

  .catalog {
    // Block model
    padding: 0 0 30px 0;

    &__wrap {
      // Block model
      padding: 0 20px;
    }

    &__title {
      @include title(24px,29px);
      // Block model
      margin: 0 0 10px 0;
    }

    &__nav {
      // Block model
      margin: 0 0 20px 0;
    }

    &__item {
      // Block model
      width: 44%;

      &:nth-child(2n) {
        margin: 0 0 20px 0;
      }

      &:nth-child(3n) {
        margin-right: 20px;
      }

      &:nth-child(6) {
        // Block model
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  .description {

    &__wrap {
      // Block model
      padding: 0 20px;
    }

    &__title {
      @include title(24px,29px);
      // Block model
      margin: 0 0 15px 0;
    }

  }

}
