// Catalog page styles
@import "../../components/common.scss";

@mixin title($size,$height) {
  // Typography
  font-size: $size;
  line-height: $height;
}

.catalog {
  // Block model
  padding: 0 0 55px 0;

  &__title {
    // Block model
    margin: 0 0 15px 0;
    // Typography
    font-family: $font-optional-1;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__nav  {
    // Block model
    margin: 0 0 50px 0;
  }

  &__list {
    // // Position
    // display: flex;
    // flex-flow: row wrap;
  }

  &__item {

    &--first {
      // Stylization
      background: $color_meant url("/static/images/img_category_1.png") center no-repeat;
      background-size: auto;
    }

    &--second {
      // Stylization
      background: $color_wheat url("/static/images/img_category_2.png") center no-repeat;
      background-size: auto;
    }

    &--third {
      // Stylization
      background: $color_orange url("/static/images/img_category_3.png") center no-repeat;
      background-size: auto;
    }

    &--fourth {
      // Stylization
      background: $color_purple url("/static/images/img_category_4.png") center no-repeat;
      background-size: auto;
    }

    &--fifth {
      // Stylization
      background: $color_pink url("/static/images/img_category_5.png") center no-repeat;
      background-size: auto;
    }

    &--sixth {
      // // Block model
      // margin: 0 20px 0 0;
      // Stylization
      background: $color_light-blue url("/static/images/img_category_6.png") center no-repeat;
    }

  }

  &__link {
    // Typography
    color: $color_white;
    font-family: $font-optional-1;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: rgba(0,0,0,0.15) 2px 3px 5px;

    &:hover {
      // Typography
      text-decoration: underline;
    }

    &:active {
      // Typography
      text-decoration: underline;
    }

  }

}

.description {

  &__wrap {
    // Block model
    margin-bottom: 60px;
    box-sizing: border-box;
  }

  &__title {
    // Block model
    margin: 0 0 25px 0;
    // Typography
    font-family: $font-optional-1;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    // Block model
    margin: 0 0 15px 0;
    // Typography
    line-height: 26px;
  }

}

@media (max-width:768px) {

  .catalog {
    // Block model
    padding: 0 0 40px 0;

    &__title {
      @include title(36px,44px);
      // Block model
      margin: 0 0 10px 0;
    }

    &__nav {
      // Block model
      margin: 0 0 30px 0;
    }

    // &__item {
    //   // Position
    //   flex: 1 auto;
    //   // Block model
    //   width: 25%;
    //   height: 200px;
    //   padding: 0 20px;
    //   // Stylization
    //   background-size: 75%;
    //
    //   &:nth-child(3n) {
    //     // Block model
    //     margin-right: 0;
    //   }
    //
    //   &--fourth {
    //     margin-left: 0;
    //   }
    //
    // }

    &__link {
      // Typography
      font-size: 18px;
    }

  }

  .description {

    &__title {
      @include title(36px,44px);
      // Block model
      margin: 0 0 20px 0;
    }

  }

}

@media (max-width:580px) {

  .catalog {
    // Block model
    padding: 0 0 30px 0;

    &__wrap {
      // Block model
      padding: 0 20px;
    }

    &__title {
      @include title(24px,29px);
      // Block model
      margin: 0 0 10px 0;
    }

    &__nav {
      // Block model
      margin: 0 0 20px 0;
    }

    &__item {

      &--first {
        // Stylization
        background-size: 90%;
      }

      &--second {
        // Stylization
        background-size: 60%;
      }

      &--third {
        // Stylization
        background-size: 50%;
      }

      &--fourth {
        // Stylization
        background-size: 70%;
      }

      &--fifth {
        // Stylization
        background-size: 70%;
      }

      &--sixth {
        // Stylization
        background-size: 90%;
      }

    }

  }

  .description {

    &__title {
      @include title(24px,29px);
      // Block model
      margin: 0 0 15px 0;
    }

  }

}

@media (max-width:375px) {

  .catalog {

    &__item {

      &--first {
        // Stylization
        background-size: 100%;
      }

      &--second {
        // Stylization
        background-size: 100%;
      }

      &--third {
        // Stylization
        background-size: 100%;
      }

      &--fourth {
        // Stylization
        background-size: 100%;
      }

      &--fifth {
        // Stylization
        background-size: 100%;
      }

      &--sixth {
        // Stylization
        background-size: 100%;
      }

    }

  }

}
