// Header

.header {
  // Block model
  padding: 60px 0 50px 0;

  &__wrap {
    // Position
    display: flex;
    flex-flow: row;
  }

  &__logo {
    // Position
    display: flex;
    justify-content: flex-start;
    align-items: end;
    // Block model
    margin: 0 60px 0 0;
    //Animation
    transition: opacity ease-in 0.4s;

    &:hover {
      // Stylization
      opacity: 0.5;
      //Animation
      transition: opacity ease-in 0.4s;
    }

    &:active {
      // Stylization
      opacity: 0.2;
    }

    &-link {
      // Block model
      width: 100px;
    }

    &-image {
      // Block model
      width: 100%;
      height: auto;
    }

  }

  &__nav {
    // Position
    display:flex;
    flex: 1;
    align-items: center;

    &-list {
      // Position
      display: flex;
      // Block model
      margin:0;
      padding:0;
      // Stylization
      list-style-type: none;
    }

    &-item {
      // Block model
      margin: -7px 20px 0 0;
    }

    &-link {
      // Typography
      color: $color_black;
      font-size: 14px;
      text-transform: uppercase;
      //Animation
      transition: opacity ease-in 0.4s;

      &:hover {
        // Stylization
        opacity: 0.5;
        //Animation
        transition: opacity ease-in 0.4s;
      }

      &:active {
        // Stylization
        opacity: 0.2;
      }

    }

  }

  &__menu {
    // Position
    display: none;
    flex: 1;
    justify-content: center;

    &-button {
      // Typography
      color: $color_black;
      font-size: 14px;
      text-transform: uppercase;
      //Animation
      transition: opacity ease-in 0.4s;

    }

  }

  &__searching {
    // Position
    display: flex;
    align-self: center;
    // Block model
    margin: -4px 0 0 0;
    // Typography
    font-size: 0;
    //Animation
    transition: opacity ease-in 0.4s;

    &:hover {
      // Stylization
      cursor: pointer;
      opacity: 0.5;
      //Animation
      transition: opacity ease-in 0.4s;
    }

    &:active {
      // Stylization
      opacity: 0.2;
    }

  }

  &__link {
    // Position
    display: flex;
    align-self: center;
    // Block model
    margin: -5px 0 0 22px;
    //Typography
    color: $color_black;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    //Animation
    transition: opacity ease-in 0.4s;

    &:hover {
      // Stylization
      opacity: 0.5;
      //Animation
      transition: opacity ease-in 0.4s;
    }

    &:active {
      // Stylization
      opacity: 0.2;
    }

  }

  &__mobile {
    // Position
    position: absolute;
    display: none;
    justify-content: center;
    // Block model
    width: 100%;
    height: 100%;
    z-index: 999;
    // Stylization
    background-color: $color-purple-trns;

    &-list {
      // Position
      display: flex;
      flex-flow: column;
      align-self: baseline;
      // Block model
      width: 100%;
      height: auto;
      padding: 25px 0 25px 40px;
      // Stylization
      background-color: $color_white;
      box-shadow: $color_shadow 0 4px 4px;
      
    }

    &-item {
      // Position
      display: flex;
      justify-content: center;
      // Block model
      margin: 0 0 20px 0;
    }

    &-link {
      // Typography
      color: $color_black;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;

      &--highlighted {
        // Block model
        margin-top: 15px;
        // Typography
        font-weight: 600;
      }

    }

    &-bg {
      // Position
      display: none;
      position: absolute;
      top: 0;
      // Block model
      width: 100%;
      height: 100%;
      // Stylization
      background-color: $color-purple-trns;
    }

  }

}

@media (max-width:768px) {


  .header {
    // Block model
    padding: 35px 0;

    &__logo {
      // Block model
      margin: 0;

      &-link {
          // Block model
          width: 62px;
      }

    }

    &__nav {
      // Position
      display: none;
    }

    &__menu {
      // Position
      display: flex;
    }

    &__link {
      // Block model
      display: none;
    }

    &__mobile {
      // Position
      display: flex;
    }

  }

}

@media (max-width:580px) {

  .header {

    &__wrap {
      // // Block model
      padding: 0 20px;
    }

  }

}
