// Header

.header {
  // Block model
  padding: 60px 0 50px 0;

  &__wrap {
    // Position
    display: flex;
    flex-flow: row;
  }

  &__logo {
    // Position
    display: flex;
    justify-content: flex-start;
    align-items: end;
    // Block model
    margin: 0 60px 0 0;
    //Animation
    transition: opacity ease-in 0.3s;\

    &:hover {
      // Stylization
      opacity: 0.5;
      //Animation
      transition: opacity ease-in 0.3s;
    }

    &:active {
      // Stylization
      opacity: 0.2;
    }

  }

  &__nav {
    // Position
    display:flex;
    flex: 1;
    align-items: center;
  }

  &__nav-list {
    // Position
    display: flex;
    // Block model
    margin:0;
    padding:0;
    // Stylization
    list-style-type: none;
  }

  &__nav-item {
    // Block model
    margin: -7px 20px 0 0;
  }

  &__nav-link {
    // Typography
    color: $color_black;
    font-size: 14px;
    text-transform: uppercase;
    //Animation
    transition: opacity ease-in 0.3s;

    &:hover {
      // Stylization
      opacity: 0.5;
      //Animation
      transition: opacity ease-in 0.3s;
    }

    &:active {
      // Stylization
      opacity: 0.2;
    }

  }

  &__searching {
    // Position
    display: flex;
    align-self: center;
    // Block model
    margin: -4px 22px 0 0;
    // Typography
    font-size: 0;
    //Animation
    transition: opacity ease-in 0.3s;

    &:hover {
      // Stylization
      cursor: pointer;
      opacity: 0.5;
      //Animation
      transition: opacity ease-in 0.3s;
    }

    &:active {
      // Stylization
      opacity: 0.2;
    }

  }

  &__link {
    // Position
    display: flex;
    align-self: center;
    // Block model
    margin: -5px 0 0 0;
    //Typography
    color: $color_black;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    //Animation
    transition: opacity ease-in 0.3s;

    &:hover {
      // Stylization
      opacity: 0.5;
      //Animation
      transition: opacity ease-in 0.3s;
    }

    &:active {
      // Stylization
      opacity: 0.2;
    }

  }

}
