<header class="header">

       <div class="header__wrap container">

         <figure class="header__logo">
           <a class="header__logo-link" href="/">
             <img class="header__logo-image" src="/static/images/img_logo.svg" alt="Company's logo" width="100" height="52">
           </a>
         </figure>

         <nav class="header__nav">

           <ul class="header__nav-list">

             <li class="header__nav-item">
               <a class="header__nav-link" href="/pages/catalog">Catalog</a>
             </li>

             <li class="header__nav-item">
               <a class="header__nav-link" href="#">About us</a>
             </li>

             <li class="header__nav-item">
              <a class="header__nav-link" href="/pages/blog">Blog</a>
             </li>

             <li class="header__nav-item">
              <a class="header__nav-link" href="/pages/animation">Animation</a>
             </li>

           </ul>

         </nav>

         <button class="header__searching">Search
           <img class="header__searching-icon" src="/static/images/img_icon_magnifier.svg" alt="Search icon" width="18" height="18">
         </button>

         <a class="header__link" href="/pages/contacts">Contact us</a>

       </div>

     </header>
