<header class="header">

       <div class="header__wrap container">

         <figure class="header__logo">
           <a class="header__logo-link" href="/">
             <img class="header__logo-image" src="/static/images/img_logo.svg" alt="Company's logo">
           </a>
         </figure>

         <nav class="header__nav">

           <ul class="header__nav-list">

             <li class="header__nav-item">
               <a class="header__nav-link" href="/pages/catalog">Catalog</a>
             </li>

             <li class="header__nav-item">
               <a class="header__nav-link" href="#">About us</a>
             </li>

             <li class="header__nav-item">
              <a class="header__nav-link" href="/pages/blog">Blog</a>
             </li>

             <li class="header__nav-item">
              <a class="header__nav-link" href="/pages/animation">Animation</a>
             </li>

             <li class="header__nav-item">
              <a class="header__nav-link" href="/pages/svg">SVG</a>
             </li>

           </ul>

         </nav>

         <div class="header__menu">
           <button class="header__menu-button" type="button" name="button">Menu</button>
         </div>

         <button class="header__searching">Search
           <img class="header__searching-icon" src="/static/images/img_icon_magnifier.svg" alt="Search icon" width="18" height="18">
         </button>

         <a class="header__link" href="/pages/contacts">Contact us</a>

       </div>

       <nav class="header__mobile">

         <ul class="header__mobile-list">

           <li class="header__mobile-item">
             <a class="header__mobile-link" href="#">Catalog</a>
           </li>

           <li class="header__mobile-item">
             <a class="header__mobile-link" href="#">About us</a>
           </li>

           <li class="header__mobile-item">
             <a class="header__mobile-link" href="#">Blog</a>
           </li>

           <li class="header__mobile-item">
             <a class="header__mobile-link" href="#">Animation</a>
           </li>

           <li class="header__mobile-item">
             <a class="header__mobile-link" href="#">Svg</a>
           </li>

           <li class="header__mobile-item">
             <a class="header__mobile-link header__mobile-link--highlighted" href="#">Contact us</a>
           </li>

         </ul>

       </nav>

     </header>
